* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.middle {
    display: flex;
flex: 1 1;
}
.LeftSelectionBar  {
    display: flex;
    flex: 1 1 10%;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: fit-content;
    height: 100%;
    background-color: rgb(82, 79, 255);
    padding: 10px;
   border: 2px solid white;
   overflow-y: auto;
   
}

.LeftSelectionBar button {
    background-color: transparent;
    text-align: center;
    font-size: .8rem;
    max-width: fit-content;

}

.LeftSelectionBar button:hover {
    border: 1px solid White;
background-color: rgba(0, 64, 255, 0.419);

}

.bodyContent {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    background-color: rgb(235, 139, 13);
    border: 1px solid white;
    overflow-x: auto;
    
}


.nameChoices {
    display: flex;
    flex-direction: column;
    background-color: blue; 
    height: fit-content;
    border: 1px solid white;


}

.nameChoices h5 {
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
}

.pageOptions {
    display: flex;
    flex: 1 1;
    overflow: auto;
   align-items: center;
}

.nameChoices button {
    background-color: transparent;
    width: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: fit-content;
 

}

.information {
    display: flex;
    flex: 1 1;
    background-color: rgb(212, 207, 207);
    overflow: auto;
    color: black;

}

.title {
   text-align: center;
}